#chatbox {
    position: absolute;
    right: 3%;
    bottom: 3%;
    border: solid 1px;
    -moz-border-radius: 20px;
    -khtml-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 0.60%;
    color: #FFFFFF;
    font-family: Verdana;
    background-color: #005ea5;
    border-color: #005ea5;
}

#popup {
    position: absolute;
    height: 60%;
    width: 25%;
    right: 0.5%;
    bottom: 0.5%;
    border: solid 1px;

    /*padding: 1%;*/
}

.box-header {
    background-color: #005ea5;
    padding-bottom: 5%;
    left: 0px;
    right: 0px;
}

.video-box {
    left: 0px;
    right: 0px;
    padding-bottom: 95%;
    border-bottom: solid 1px;
}

#close-popup {
    position: absolute;
    right: 0.5%;
    top: 0.5%;
}

#close-hover:hover {
    font-weight: bold;
}

.hidden {
    display: none;
}